CLICKHOUSE_DATABASE=umbrella
CLICKHOUSE_USER=umbrella
CLICKHOUSE_PASSWORD=replace_with_a_strong_password
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
BACKEND_PORT=8002
FRONTEND_PORT=80
UMBRELLA_BASE_URL=http://s3-us-west-1.amazonaws.com/umbrella-static
DATA_ROOT=/data02/umbrella-activity
