<clickhouse>
  <logger>
    <level>information</level>
  </logger>

  <max_connections>1024</max_connections>
  <keep_alive_timeout>10</keep_alive_timeout>

  <max_server_memory_usage_to_ram_ratio>0.75</max_server_memory_usage_to_ram_ratio>

  <merge_tree>
    <parts_to_delay_insert>300</parts_to_delay_insert>
    <parts_to_throw_insert>600</parts_to_throw_insert>
  </merge_tree>
</clickhouse>

